<%- include('../partials/header') %>
    <% for (let post of meals.post){ %>
        <% if (post._id == id){ %>
            <li><%=post.date%></li>
            <li><%=post.breakfast%></li>
            <li><%=post.lunch%></li>
            <li><%=post.dinner%></li>
            <li><%=post.other%></li>
        <% } %>
    <% } %>
    <a href="/meals/<%=id%>/edit"><input type="submit" value="edit"></a>
</body>
</html>