<%- include('../partials/header') %>

    <% for (let post of meals.post){ %>
        <% if (post._id == id){ %>
            <p class="header"><%=post.date%></p>
            <li class="log"><%=post.breakfast%></li>
            <li class="log"><%=post.lunch%></li>
            <li class="log"><%=post.dinner%></li>
            <li class="log"><%=post.other%></li>
        <% } %>
    <% } %>
    <a href="/meals/<%=id%>/edit"><input type="submit" value="edit"></a>

</body>
</html>