<%- include('../partials/header') %>

<main>
    <div class="formpage">
        
    <% for (let post of meals.post){ %>
        <% if (post._id == id){ %>

            <p class="header"><%=post.date%></p>
            <div class="list list-items">
            <ul>
            <% if (post.breakfast.length > 0){ %>
            <li class="log">You logged Breakfast as: <span><%=post.breakfast%></span></li><br>
            <% } %>
            <% if (post.lunch.length) {%>
            <li class="log">You logged Lunch as: <span><%=post.lunch%></span></li><br>
            <% } %>
            <% if (post.dinner.length) {%>
            <li class="log">You logged Dinner as: <span><%=post.dinner%></span></li><br>
            <% } if (post.other.length) {%>
            <li class="log">You logged other as: <span><%=post.other%></span></li><br>
            <% } %>
            </ul>
        <% } %>
    <% } %>
    <a  href="/meals/<%=id%>/edit" class="edit-button"><input type="submit" class="enter" value="Edit"></a>
    </div>            
    </div>
</main>
</body>
</html>